<!DOCTYPE html>
<html>
  <head>
    <title>Caleb's Movies</title>
    <link rel="stylesheet" href="./stylesheets/movies.css">
  </head>
  <body>
    <h1>Caleb's Movies (Sorted by <span></span>)</h1>
    <button id="btnTitle">Sort by Title</button>
    <!-- <img src='./images/arrow-up.svg'> -->
    <button id="btnRating">Sort by Rating</button>
    <!-- <img src='./images/arrow-up.svg'> -->
    <button id="btnRuntime">Sort by Runtime</button>
    <!-- <img src='./images/arrow-up.svg'> -->
    <button id="btnYear">Sort by Year</button>
    <!-- <img src='./images/arrow-up.svg'> -->
    <div class="movies" id="movies">
      <ul class="movies__list" id="movies-list"></ul>
    </div>
    
    <script src="./javascripts/movies.js"></script>
  </body>
</html>
