@import 'reset.css';
@import 'movies.css';

.container {
  margin: 0 auto;
  max-width: 70rem;
  margin: 0 2rem;
}

.header__sort {

}

.header__button {
  background: none!important;
  border: none;
  color: #069;
  cursor: pointer;
  font-size: inherit;
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .container {
    margin: 0;
  }

  .header {
    padding: 0 1rem;
  }

  .header__title {
    font-size: 1.5rem;
  }
}