@import 'reset.css';
@import 'movies.css';

.container {
  margin: 0 auto;
  max-width: 65rem;
}

.header__sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__button {
  background: none!important;
  border: none;
  color: #069;
  cursor: pointer;
  font-size: inherit;
  text-decoration: underline;
}

.header__button--reverse {
  height: 2rem;
  padding: 2px;
  width: 2rem;
}

@media only screen and (max-width: 600px) {
  .container {
    margin: 0;
  }

  .header {
    padding: 0 1rem;
  }

  .header__title {
    font-size: 1.5rem;
  }
}