.movies {
  margin-top: 2rem;
}

.movie {
  background-color: #fbfbfb;
  display: flex;
  padding: 1.5rem 3rem 1.5rem 1.5rem;
}

.movie:nth-child(2n) {
  background-color: #f6f6f5;
}

.movie__image {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
  height: 13rem;
  margin-right: 2rem;
  width: 9rem;
}

.movie__image img {
  object-fit: cover;
}

.movie__title {
  font-weight: 900;
  margin-bottom: .5rem;
}

.movie__year {
  font-weight: 400;
}

.movie__details {
  display: flex;
  font-size: .9rem;
  opacity: 60%;
}

.movie__rating {
  font-weight: 500;
}

.movie__rating::after {
  content: "|";
  margin: 0 .25rem;
  opacity: 30%;
}

@media only screen and (max-width: 600px) {
  .movies {
    margin-top: 1rem;
  }

  .movie {
    padding: .5rem 1rem;
  }

  .movie__image {
    height: 6.5rem;
    margin-right: 1rem;
    width: 4.5rem;
  }

  .movie__title {
    font-size: 1rem;
  }

  .movie__details {
    font-size: .8rem;
  }

  .movie__rating {
    font-weight: 400;
  }

  .movie__desc {
    display: none;
  }
}